/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN NORMALIZE.CSS)
	- Normalize
	- Box sizing
	- Media width
# Base
	- Typography
	- Elements
	- Links
# Components
	- Header
	- Main
	- Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Typography

--------------------------------------------- */
html{
	background-color: #defcf4;
}
body {

	font-family: "Quicksand", sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.4;
	color: #080408;
	
}

h1,
h2,
h3 
h4,
h5,
h6 {
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 1.4rem;

}


/* Elements
--------------------------------------------- */
section
{
	padding: 0 auto;
}


/* Links
--------------------------------------------- */
a,
a:visited { 
	color: #471fa3;
	text-decoration: none;
}

a:hover,
a:focus,
a:active {
	text-decoration: underline;
	text-decoration: none;
}

a:focus {
	outline: 1px dotted;
}

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/
.site-wrapper {
	/* This is for very large screens */
	max-width: 120rem;
	margin: 0 auto;
}

/* Header
--------------------------------------------- */
.site-header {
	padding: 0.5rem 0.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav-menu li a:hover {
	font-size: 1.8rem;
	
}
a.site-name {
	font-family: "Pacifico", cursive;
	font-size: 1.4rem;
	text-decoration: none;
	color: #032c3c;
}

.site-navigation ul {
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;
	display: none;
	position: absolute;
	top: 3rem;  
	left: 0;
	right: 0;
	z-index: 2;
	
}

.site-navigation.toggled ul {
	display: block;
}

.site-navigation a {

	display: block;
	padding: 0.5rem;
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 1.6rem;
	text-decoration: none;
	color: #f2f7f7;
	
}

.menu-toggle {
	display: block;
    background-color: transparent;
    border: 0;
    padding: 0.5rem;
    margin-right: 0.5rem;
}

.menu-toggle:focus {
	border: 0;
	outline: 1px dotted;
}

@media (min-width: 50em) {
	
	.menu-toggle {
		display: none;
	}
	
	.site-navigation a{
		flex: 1 1 auto;
		color: #000808;
		font-size: 1.4rem;
		
	}

	.site-navigation ul,
	.site-navigation.toggled ul {
		display: flex;
		justify-content: flex-end;
		align-items:center;
		position: relative;
		top: 0;
	}
	.site-name{
		margin-left: 1rem;
		
	}
}


/* Main
--------------------------------------------- */
/* Page Header */

.page-header {
	position: relative;
}

.page-header h1 {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	z-index: 1;
	transform: translateY(-50%);
	margin: 1rem;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
}

.page-header img {
	display: block;
	object-fit: cover;
	height: 24rem;
	width: 100%;
}


@media (min-width: 50em) {
	
	.page-header img {
		
		height: 35rem;
		width: 100%;
	}

}

/* Section: About */

.section-about h2 {
	
	text-align: center;
	padding: 2rem 1rem;
	margin: 0 auto;	
}

.section-about p{

	font-size: 1rem;
	padding-bottom: 2rem;
	margin: 0.5rem;
}
@media (min-width: 50em){

	.section-about p{

		padding-bottom: 5rem;
	}
}

/* Section: Projects */

.projects-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	padding-bottom: 4rem;
	flex: 1 1 auto;

}

.projects{
	display: block;
	position: relative;
	height: 18rem;
	width: 18rem;
	overflow: hidden;
	border: solid #471fa3;
	border-radius: 30px;
}

.projects-text{
	bottom: 10px;
	text-align: center;
}

.project-card{
	margin: 2rem 0 2rem 0;
}
a.projects  .projects-image{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 18rem;
	width: 18rem
}

a.projects h2 {
	text-align: center;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	color: #f2f7f7;
}
a.projects p {
	font-weight: bold;
	font-size: 2rem;
	color: antiquewhite;
	text-align: center;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	text-shadow: 3px 3px 5px #e80da3, 0 0 1em #0000ff, 0 0 0.2em #0000ff;
}

a.project-card :hover,
a.project-card :focus,
a.project-card :active {
	background-color: #d32a3880;
}

a.project-card :focus {
	outline: 10px dotted #390607;
}

a.projects:hover{
	box-shadow: 0 0 30px 30px #622e9a80;
}

@media (min-width: 50em) {

	.projects{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		position: relative;
		height: 22rem;
		width: 22rem;
		overflow: hidden;
		margin: 1rem;
		border: solid #471fa3;
		border-radius: 30px;
	}

	a.projects  .projects-image{
		
		height: 22rem;
		width: 22rem
	}
	.project-card{
		margin:1rem
	}
	a.projects h2 {
		font-size: 2rem;
		
	}

}


/* Footer
--------------------------------------------- */
.site-footer {
	padding: 1rem;
	text-align: center;
	
}
footer h2{
	font-size: 1.4rem;
}

.site-footer a{
	padding: 1rem 2rem;
	margin: 3rem 2rem;
	background-color: violet;
	border-radius: 2rem;
}
.social-media{
	margin: 2rem;
}

.site-footer nav ul {
	list-style: none;
	padding: 0;
}
.site-footer p{
	font-family:"Pacifico", cursive;;
}